<footer>
  <!-- Footer top -->
  <div class="container footer_top">
    <div class="row">
      <div class="col-lg-5 col-sm-7">
        <div class="footer_item">
          <h4>About Company</h4>
          <img
            class="logo"
            src="/Assets/images/logos/Footerpng.png"
            alt="Construction" />
          <p>
            Footnote Consults Limited, FCL is a private owned company that was
            established in 2018. The Company offers a broad spectrum in Civil
            engineering, Architecture and Project management. FCL is constituted
            by smart hardworking and resilient engineers, architects and project
            managers that will add every bit of value to money.
          </p>

          <ul class="list-inline footer_social_icon">
            <li>
              <a
                target="_blank"
                href="https://www.facebook.com/footnoteconsults.com"
                ><span class="fa fa-facebook"></span
              ></a>
            </li>
            <li>
              <a target="_blank" href="https://twitter.com/footnoteconsult?s=11"
                ><span class="fa fa-twitter"></span
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-5">
        <div class="footer_item">
          <h4>Explore Links</h4>
          <ul class="list-unstyled footer_menu">
            <li>
              <a href="services"
                ><span class="fa fa-play"></span> Our services</a
              >
            </li>
            <li>
              <a href="about#Mission"
                ><span class="fa fa-play"></span> Our Mission</a
              >
            </li>
            <li>
              <a href="about#Team"
                ><span class="fa fa-play"></span> Meet our team</a
              >
            </li>
            <li>
              <a href="projects#Finished"
                ><span class="fa fa-play"></span> Our Recent Projects</a
              >
            </li>
            <li>
              <a href="projects#Ongoing"
                ><span class="fa fa-play"></span> Ongoing Projects</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-sm-5">
        <div class="footer_item">
          <h4>Contact us</h4>
          <ul class="list-unstyled footer_contact">
            <li>
              <span class="fa fa-map-marker"></span>
              <p>
                Plot 422 Bombo Road, <br />P.O. Box 107857,<br />
                Kampala Uganda
              </p>
            </li>

            <li>
              <a target="_blank" href="mailto:footnoteconsults@gmail.com"
                ><span class="fa fa-envelope"></span
                >footnoteconsults@gmail.com</a
              >
            </li>
            <li>
              <span class="fa fa-mobile"></span>
              <p>+256-700-372-968 <br />+256 774 692126</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer top end -->

  <!-- Footer bottom -->
  <div class="footer_bottom text-center">
    <p class="wow fadeInRight">
      &copy;Footnote Consults Ltd 2024. All Rights Reserved
    </p>
  </div>
  <!-- Footer bottom end -->
</footer>
<!-- JavaScript -->
<script src="Assets/js/jquery-1.12.1.min.js"></script>
<script src="Assets/js/bootstrap.min.js"></script>

<!-- Bootsnav js -->
<script src="Assets/js/bootsnav.js"></script>

<!-- JS Implementing Plugins -->
<script src="Assets/js/isotope.js"></script>
<script src="Assets/js/isotope-active.js"></script>
<script src="Assets/js/jquery.fancybox.js?v=2.1.5"></script>

<script src="Assets/js/jquery.scrollUp.min.js"></script>

<script src="Assets/js/main.js"></script>

<script src="Assets/js/owl-run.js"></script>
<script src="Assets/js/owl-carousel/owl.carousel.min.js"></script>
<script src="Assets/js/owl-carousel/owl.carousel.js"></script>

<script src="Assets/js/project.owl.js"></script>
