*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #484848;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    text-transform: uppercase;
    color: #484848;
    font-family: 'Poppins', sans-serif;
}
section#about {
    background: #000000e0;
    margin-top: -7px;
}
h1 {
    font-size: 35;
    margin: 0;
    line-height: 60px;
}

h2 {
    font-size: 22px;
    margin: 0 0 20px;
}

.heads {
    margin: 20px 0 30px;
    text-align: center;
    color: #616161;
}

h3 {
    font-size: 20px;
    /* margin: 0 0 10px; */
}

img {
    width: 100%;
}

a,
button {
    outline: 0 !important;
}

a:hover,
a:focus {
    text-decoration: none
}

/* All Transition */
.list-inline.info a,
.list-inline.social_icon a,
nav.navbar.bootsnav ul.nav > li > a,
.attr-nav > ul > li > a,
.btn.know_btn,
#filters > button,
.portfolio_hover_area,
.portfolio_hover_area .fa,
.testimonial_content,
.testimonial_content p:first-child::before,
#contact_form .form-control,
#contact_form .btn.submit_btn,
footer a,
.footer_social_icon .fa,
.post .date,
#scrollUp {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
}

/* Header */


/*Preloader css*/
#loading {
    background-color: #222533;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
    z-index: 90;
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 150px;
    margin-top: -25px;
    margin-left: -75px;
}

.object {
    width: 8px;
    height: 50px;
    margin-right: 5px;
    background-color: #ffffff;
    -webkit-animation: animate 1s infinite;
    animation: animate 1s infinite;
    float: left;
}

.object:last-child {
    margin-right: 0px;
}

.object:nth-child(10) {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

.object:nth-child(9) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.object:nth-child(8) {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.object:nth-child(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.object:nth-child(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.object:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.object:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.object:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.object:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

@-webkit-keyframes animate {

    50% {
        -ms-transform: translateX(-25px) scaleY(0.5);
        -webkit-transform: translateX(-25px) scaleY(0.5);
        transform: translateX(-25px) scaleY(0.5);

    }

}

@keyframes animate {
    50% {
        -ms-transform: translateX(-25px) scaleY(0.5);
        -webkit-transform: translateX(-25px) scaleY(0.5);
        transform: translateX(-25px) scaleY(0.5);
    }

}

/*End off Preloader*/





/* Top Nav */
.top_nav {
    background: #ffcb0f none repeat scroll 0 0;
    overflow: hidden;
    padding: 10px 0;
    display: none;
}

.list-inline.info {
    /* float: left; */
    margin: 0;
}

.list-inline.info > li {
    padding: 0 20px 0 0;
}

.list-inline.info a,
.list-inline.social_icon a {
    color: #222;
    font-family: 'Montserrat', sans-serif;
}

.list-inline.info a:hover,
.list-inline.social_icon a:hover {
    color: #555;
}

.list-inline.info a .fa,
.list-inline.social_icon a .fa {
    font-size: 20px;
    vertical-align: text-top;
}

.list-inline.social_icon {
    float: right;
    margin: 0;
}

/* Main Nav */
nav.navbar.bootsnav {
    background: #ffffff none repeat scroll 0 0;
    border: 0 none;
}

nav.navbar.bootsnav ul.nav > li > a {
    color: #000000;
    font-family: 'Poppins';
    text-transform: uppercase;
    font-weight: 500;
}

nav.navbar.bootsnav ul.nav > li > a:hover,
nav.navbar.bootsnav ul.nav > li > a:focus {
    color: #8f8ff5;
}

.navbar-brand {
    height: auto;
    padding: 20px 15px;
}

#navbar-menu {
    margin: 6px 0;
}

.nav.navbar-nav.menu {
    float: right;
}

.attr-nav {
    margin: 5px -10px 0 0;
}

.attr-nav > ul > li > a {
    color: #ffcb0f;
    font-size: 20px;
}

.attr-nav > ul > li > a:hover,
.attr-nav > ul > li > a:focus {
    color: #d7a300;
}

/* Carousel */
.home .carousel {
    position: relative;
    height: 327px;
    display: inline-block;
}

.home .carousel .item img {
    width: 100%;
    height: auto;
}

/*.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
    height: 700px;
}*/
.carousel .overlay {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
}

.carousel-caption {
    left: 2%;
    right: 7%;
    top: 311px;
}

.carousel-caption h1 {
    color: #fff;
    /* margin-bottom:20px; */
}

.carousel-caption h1.second_heading {
    color: #ffd530;
    margin-bottom: -5px !important;
    text-align: left;
    font-family: 'Open Sans';
    font-size: 23px;
}

.carousel-caption > h3 {
    color: #fff;
    font-family: "futura_ltbook", sans-serif;
    font-size: 40px;
    font-weight: normal;
    /* margin-bottom: 30px; */
    text-transform: inherit;
}

.carousel-caption > p {
    font-size: 18px;
    line-height: 24px;
    font-family: 'POPPINS';
    font-weight: unset;
    text-align: left;
}

.btn.know_btn {
    background: #8f8ff5 none repeat scroll 0 0;
    border-radius: 7px;
    color: #fff;
    font-family: "futura_lt", sans-serif;
    font-size: 13px;
    padding: 6px 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
}

.carousel-caption .btn.know_btn {
    margin-top: 64px;
}

.carousel-caption .btn.know_btn:last-child {
    margin-left: 20px;
}

.btn.know_btn:hover,
.btn.know_btn:focus {
    background: transparent;
    color: #8f8ff5;
    border: 1px solid #8f8ff5;
}




.carousel-control {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: -25px;
    top: 50%;
}

/* About */
.about_content {
    margin-right: 25px;
}

.about_content > h2 {
    font-size: 21px;
    margin: 90px 0 15px;
    color: #8f8ff5;
}

.about_content > h3 {
    font-size: 16px;
    margin: 2px 0 30px;
    color: #d4d4ec;
    font-family: 'Poppins';
    text-transform: uppercase !important;
    text-transform: inherit;
}

.about_content > p {
    line-height: 21px;
    margin-bottom: 18px;
    color: white;
    text-align: justify;
}

.about_content .btn.know_btn {
    margin: 0px 0 50px;
}

/*---- Head Title ----*/
.head_title p {
    line-height: 2.3rem;
}

/* Why us */
#why_us {
    background: #f2f7fa none repeat scroll 0 0;
    padding-bottom: 50px;
    line-height: 18px;
}

#why_us h2 {
    margin: 70px 0 20px;
}

.why_us_item {
    /* padding-top: 55px; */
}

#why_us .fa {
    border-radius: 100%;
    box-shadow: 0 0 0 10px #ffcb0f, 0 0 0 15px #fadb64, 0 0 0 8px #f7e59c;
    padding: 7px;
    font-size: 45px;
}

.why_us_item > h4 {
    font-size: 15px;
    margin: 60px 0 20px;
}

/* Services */
#services h2 {
    margin: 41px 0 50px;
    text-align: center;
}

.service_item > h3 {
    margin: 10px 0 5px;
    text-transform: capitalize;
    font-size: 18px;
    font-family: 'Poppins Bold', sans-serif;
    font-weight: bold;
}

.service_item .btn.know_btn {
    margin: 20px 0 100px;
}

/* Portfolio */
#portfolio {
    background: rgba(0, 0, 0, 0) url("../images/portfolio_bg.jpg") no-repeat scroll 0 0;
    background-size: cover;
    position: relative;
    padding-bottom: 102px;
    /* border-bottom: 2px solid #ffcb0f; */
}

#portfolio::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: rgb(255 253 246 / 94%);
    top: 0;
    left: 0;
}

.portfolio_area {
    position: relative;
    color: #fff;
}

.portfolio_area h2 {
    color: #fff;
    margin: 65px 0 34px;
}

/* Portfolio filters */
#filters {
    margin: 52px 0 38px;
}

#filters > button {
    background: transparent none repeat scroll 0 0;
    border: 1px solid transparent;
    border-radius: 18px;
    outline: 0 none;
    padding: 6px 17px 4px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#filters > button:hover {
    border: 1px solid #282828;
    color: #282828;
}

#filters > button.is-checked {
    background: #282828;
}

#filters > button.is-checked:hover {
    color: #fff;
}

.grid {
    margin: 0 -6px;
}

.grid-item {
    border: 6px solid transparent;
}

.grid-item,
.grid-sizer {
    width: 25%;
}

.grid-item {
    float: left;
    height: 255px !important;
}

.grid-item {
    overflow: hidden;
}

.grid-item--width2 {
    width: 50%;
}

.grid-item--height2 {
    height: 510px !important;
}

.grid-item:hover img {
    transform: scale(1.1);
}

.grid-item img {
    height: 100%;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    -ms-transition: all 0.6s;
    transition: all 0.6s;
}

/* Portfolio Hover */
.portfolio_hover_area {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    text-align: center;
    opacity: 0;
}

.grid-item:hover .portfolio_hover_area {
    opacity: 1;
}

.portfolio_hover_area .fa {
    background: #ffcb0f none repeat scroll 0 0;
    border: 2px solid transparent;
    border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    font-size: 30px;
    margin-top: 215px;
    padding: 15px;
    border: 1px solid transparent;
}

.grid-item .portfolio_hover_area .fa {
    margin-top: 90px;
}

.grid-item--width2 .portfolio_hover_area .fa {
    margin-top: 217px;
}

.portfolio_hover_area > a:first-child {
    margin-right: 10px;
}

.portfolio_hover_area .fa:hover {
    border: 1px solid #ffcb0f;
    background: transparent;
    color: #ffcb0f;
}

/* Testimonial */
#testimonial {
    
    background-size: cover;
    position: relative;
}

#testimonial::before {
    background: #fff;
    opacity: 0.7;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.testimonial_area {
    position: relative;
}

#testimonial h2 {
    margin-top: 63px;
}

.testimonial_item {
    padding: 0 15px;
}

.testimonial_content {
    background: #e5e5e5 none repeat scroll 0 0;
    border-radius: 18px;
    margin: 55px 0 30px;
    padding: 40px 15px 40px 70px;
    text-align: left;
    position: relative;
    color: #393939;
}

.testimonial_content::after {
    background: inherit;
    bottom: -10px;
    content: "";
    height: 20px;
    left: 47%;
    position: absolute;
    transform: rotate(45deg);
    width: 20px;
}

.testimonial_content p {
    position: relative;
}

.testimonial_content p:first-child::before {
    color: #989898;
    content: ",,";
    font-family: "GillSansMT-UltraBold";
    font-size: 60px;
    left: -54px;
    position: absolute;
    top: -24px;
    transform: rotateY(180deg);
}

#testimonial .col-sm-4:nth-child(3n+2) .testimonial_content {
    margin: 40px 0;
    padding-bottom: 70px;
}

.testimonial_item:hover .testimonial_content {
    background: #ffcb0f none repeat scroll 0 0;
}

.testimonial_item:hover .testimonial_content::after {
    width: 22px;
    height: 22px;
    bottom: -11px;
}

.testimonial_item:hover .testimonial_content {
    color: #fff;
}

.testimonial_item:hover .testimonial_content p:first-child::before {
    color: inherit;
}

.testimonial_item > img {
    border-radius: 100%;
    height: 80px;
    width: 80px;
}

.worker_name {
    font-family: "futura_ltbold", sans-serif;
    margin: 10px 0 45px;
    text-transform: uppercase;
}

/* Contact form */
#contact_form {
    background: #fedb5d none repeat scroll 0 0;
    padding: 27px 0 32px;
}

#contact_form h2 {
    margin: 20px 0 0;
    color: #73757e;
}

#contact_form .second_heading {
    font-size: 40px;
    font-family: "futura_ltbook", sans-serif;
    margin: 8px 0;
}

#contact_form form.form-inline {
    padding-right: 27px;
}

#contact_form .form-inline .form-control {
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 15px;
    height: 36px;
    margin: 8px;
    padding: 10px 20px;
    width: 250px;
    box-shadow: none;
}

#contact_form .form-inline textarea.form-control {
    width: 388px;
    resize: none;
}

#contact_form .form-control:focus {
    border: 2px solid #ffcb0f;
    box-shadow: 0px 0px 5px 1px #ffcb0f;
}

#contact_form .btn.submit_btn {
    background: #73757e none repeat scroll 0 0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    height: 38px;
    width: 166px;
    border-radius: 10px;
    margin: 6px 8px 6px 0;
}

.form-control::-moz-placeholder {
    color: #adadad;
}

.form-control:-ms-input-placeholder {
    color: #adadad;
}

.form-control::-webkit-input-placeholder {
    color: #adadad;
}

#contact_form .btn.submit_btn:hover {
    background: #e2aa01 none repeat scroll 0 0;
}

/* Footer */
footer {
    background: url(../images/footer_bg.jpg)no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 45px;
}

footer::before {
    background: rgba(255, 255, 255, 0.33) none repeat scroll 0 0;
    content: "";
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

footer::after {
    background: rgba(34, 37, 51, 0.9) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.footer_top,
.footer_bottom {
    position: relative;
    z-index: 1;
    color: #fff;
}

.footer_item {
    margin-top: 75px;
}

.footer_item > h4 {
    color: #fff;
    font-family: "futura_ltbook", sans-serif;
    font-size: 25px;
    margin-bottom: 34px;
    text-transform: inherit;
}

.footer_item .list-unstyled > li a {
    color: #fff;
}

/* Footer About */
.footer_item .logo {
    margin-bottom: 15px;
    width: 200px;
}

.list-inline.footer_social_icon {
    margin: 32px 0 0;
}

.footer_social_icon .fa {
    background: transparent;
    border-radius: 100%;
    color: #fff;
    font-size: 20px;
    border: 1px solid #8f8ff5;
    height: 45px;
    padding: 12px;
    text-align: center;
    width: 45px;
}

.footer_item .footer_social_icon .fa:hover,
.footer_item .footer_social_icon .fa:focus {
    background: #8f8ff5 none repeat scroll 0 0;
    color: white;
}

/* Footer Explore */
.footer_menu .fa {
    font-size: 10px;
    margin-right: 18px;
}

.list-unstyled.footer_menu > li {
    padding: 4px 0;
}

/* Footer Post */
.list-unstyled.post,
.list-unstyled.footer_contact {
    margin-top: -14px;
}

.post .date {
    border: 2px solid #fff;
    border-radius: 100%;
    display: block;
    float: left;
    font-size: 20px;
    height: 50px;
    line-height: 12px;
    margin-right: 15px;
    padding: 10px;
    text-align: center;
    width: 50px;
}

.footer_item li a:hover .date,
.footer_item li a:focus .date {
    border: 2px solid #aaa;
}

.footer_item li a:hover,
.footer_item li a:focus {
    color: #8f8ff5;
    padding-left: 5px;
}

.post .date small {
    font-size: 12px;
}

.list-unstyled.post > li,
.list-unstyled.footer_contact > li {
    padding: 5px 0;
    overflow: hidden;
}

/* Footer Contact */
.footer_contact .fa {
    margin-right: 25px;
    text-align: center;
    width: 15px;
    float: left;
    font-size: 18px;
}

.list-unstyled.footer_contact p {
    overflow: hidden;
}

.footer_bottom {
    background: #1a1c27 none repeat scroll 0 0;
    padding: 28px 0 18px;
    margin-top: 55px;
}

.footer_bottom a {
    color: #ffcb0f;
}

.footer_bottom a:hover,
.footer_bottom a:focus {
    color: #d7a300;
}

/* ScrollUP */
#scrollUp {
    background: url(../images/top.png)no-repeat scroll 0 0;
    bottom: 20px;
    color: #000;
    height: 40px;
    right: 20px;
    width: 40px;
    opacity: 0.7;
}

#scrollUp:hover {
    background: url(../images/top.png)no-repeat scroll 0 -40px;
}

/* Responsive Styles for various devices */
@media (min-width: 1600px) {
    .container {
        width: 1200px;
    }

    .carousel-inner > .item > a > img,
    .carousel-inner > .item > img {
        height: 740px;
    }

    .carousel-caption {
        left: 18%;
        right: 18%;
        top: 95px;
    }

    .about_content {
        margin-right: 50px;
    }


}

@media (max-width: 1199px) {
    h1 {
        font-size: 22px;
        line-height: 55px;
    }

    h2 {
        font-size: 22px;
    }

    .carousel-inner > .item > a > img,
    .carousel-inner > .item > img {
        height: 550px;
    }

    .carousel-caption {
        left: 5%;
        right: 0%;
        top: 89px;
    }

    .about_banner > img {
        width: 334px;
        display: block;
        margin: 0 auto;
    }

    .grid-item {
        height: 220px !important;
    }

    .grid-item--height2 {
        height: 440px !important;
    }

    .grid-item .portfolio_hover_area .fa {
        margin-top: 73px;
    }

    .grid-item--width2 .portfolio_hover_area .fa {
        margin-top: 183px;
    }

    #contact_form .second_heading {
        font-size: 30px;
    }

    #contact_form .form-inline .form-control {
        width: 202px;
    }

    #contact_form .form-inline textarea.form-control {
        width: 317px;
    }

    #contact_form .btn.submit_btn {
        width: 166px;
    }


}

@media (max-width: 991px) {
    .list-inline.info > li {
        padding: 0 12px 0 0;
    }

    .list-inline.social_icon > li {
        padding: 0 2px;
    }

    nav.navbar.bootsnav .navbar-header {
        padding: 0;
    }

    nav.navbar.bootsnav .navbar-toggle {
        margin-top: 32px;
    }

    .attr-nav {
        right: 25px;
        top: 15px;
    }

    nav.navbar.bootsnav ul.nav > li > a {
        padding: 12px 0;
    }

    .container.about_bg {
        background-position: bottom 100px center;
    }

    .grid-item {
        height: 255px !important;
        width: 50%;
    }

    .grid-item--height2 {
        height: 500px !important;
        width: 100%;
    }

    .grid-item .portfolio_hover_area .fa {
        margin-top: 90px;
    }

    .grid-item--width2 .portfolio_hover_area .fa {
        margin-top: 217px;
    }

    #contact_form {
        text-align: center;
    }

    #contact_form form.form-inline {
        margin: 0 -8px;
        padding-right: 15px;
    }

    #contact_form .form-inline .form-control {
        width: 349px;
    }

    #contact_form .form-inline textarea.form-control {
        width: 538px;
    }

    #contact_form .btn.submit_btn {
        width: 168px;
    }


}

@media (max-width: 767px) {
    h1 {
        font-size: 32px;
        line-height: 35px;
    }

    .list-inline.info {
        width: 60%;
    }

    .list-inline.social_icon {
        width: 40%;
        text-align: right;
    }

    nav.navbar.bootsnav .navbar-toggle {
        margin-left: 15px;
    }

    .carousel-caption {
        top: 20px;
    }

    .carousel-inner > .item > a > img,
    .carousel-inner > .item > img {
        height: 450px;
    }

    .carousel-caption > h3 {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .carousel-caption > p {
        font-size: 18px;
        line-height: 22px;
    }

    .carousel-caption .btn.know_btn {
        margin-top: 35px;
    }

    .carousel-caption .btn.know_btn:last-child {
        margin-left: 30px;
    }

    .about_content > h2 {
        font-size: 19px;
        margin-top: 70px;
        margin-bottom: 6px;
    }

    .about_content > h3 {
        font-size: 26px;
    }

    .service_item .btn.know_btn {
        margin-bottom: 80px;
    }

    #contact_form h2 {
        margin-top: 10px;
    }

    #contact_form .second_heading {
        margin: 8px 0 20px;
    }

    #contact_form form.form-inline {
        margin: 0;
    }

    #contact_form .form-inline .form-control,
    #contact_form .form-inline textarea.form-control {
        margin: 0;
        width: 100%;
    }

    #contact_form .btn.submit_btn {
        /* float: left; */
        margin: 0;
        width: 171px;
    }


}

@media (max-width: 479px) {
    h1 {
        font-size: 30px;
        line-height: 32px;
    }

    h3 {
        font-size: 17px;
    }

    .list-inline.info {
        margin-bottom: 10px;
        text-align: center;
        width: 100%;
    }

    .list-inline.info > li {
        padding: 0 8px;
    }

    .list-inline.social_icon {
        text-align: center;
        width: 100%;
        padding: 0 8px;
    }

    .carousel-inner > .item > a > img,
    .carousel-inner > .item > img {
        height: 209px !important;
    }

    .carousel-caption {
        top: 125px;
        left: 10%;
    }

    .carousel-caption h1.second_heading {
        margin-bottom: 5px;
    }

    .carousel-caption > h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .carousel-caption > p {
        font-size: 16px;
        line-height: 20px;
    }

    .btn.know_btn {
        font-size: 14px;
        padding: 8px 14px;
    }

    .carousel-caption .btn.know_btn {
        margin-top: 10px;
    }

    .carousel-caption .btn.know_btn:last-child {
        margin-left: 10px;
    }

    .about_content > h3 {
        font-size: 17px;
        margin-top: 0px !important;
        padding: -7px;
        color: #808080c9;
    }

    .about_banner > img {
        width: 100%;
        margin: 5px 0 35px !important;
    }

    #filters > button {
        font-size: 14px;
    }

    .grid-item {
        width: 100%;
    }

    .grid-item--height2 {
        height: 255px !important;
    }

    .grid-item--width2 .portfolio_hover_area .fa {
        margin-top: 90px;
    }

    .list-inline.footer_social_icon > li {
        padding: 8px 3px;
    }


}

/*------Styled Css-----*/
.boxed-bg {
    background-repeat: repeat;
    background-attachment: inherit;
    background-size: inherit;
    background-image: url(../images/backrounds-bg/bg-pattern-1.png);
}

#layout.boxed-layout {
    position: relative;
    max-width: 1260px;
    background: #fff;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 15%);
    -webkit-box-shadow: 0px 0px 15px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

/*------Our team-----*/
.team img {
    border-radius: 50%;
}
.head-team{
    margin: auto !important;
    position: relative;
    align-items: center;
    align-content: center;
}


.team {
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 25px;
    flex-wrap: wrap;
}

.team .member {
    /* width: 279px; */
    margin: 10px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 14%), 0 6.7px 5.3px rgb(0 0 0 / 0%), 0 12.5px 10px rgb(0 0 0 / 2%), 0 22.3px 17.9px rgb(0 0 0 / 1%), 0 41.8px 33.4px rgb(0 0 0 / 0%), 0 100px 80px rgb(0 0 0 / 2%);
    padding: 12px;
    overflow:hidden;
}

.team .member img {
    width: 100px;
    overflow:hidden;
}
.member-img {
    overflow: hidden;
    border-radius: 50%;
    width: 100px;
    text-align: center;
    margin: auto;
}

.member:hover img {
    -webkit-transform: scale(1.09);
    -ms-transform: scale(1.09);
    transform: scale(1.09);
    transition: all 0.4s linear;
}
.member{
        overflow: hidden;
}
.team .member h3 {
    color: #444;
}

.container .team .member span {
    font-size: 12px;
    color: #999;
}

.container .team .member p {
    margin: 15px 0;
    font-weight: 400;
    color: #999;
    font-size: 15px;
    text-align: justify;
}

.container .team .member .btn a {
    background: #ddd;
    display: block;
    float: right;
    width: 125px;
    margin: 0 10px;
    padding: 10px;
    border-radius: 6px;
    color: #444;
    text-transform: capitalize;
    transition: all 0.3s ease;
}

.container .team .member .btn a:hover {
    background: #5a36dd;
    color: #fff;
}

.m-top-55 {
    margin-top: 55px;
}

.breadcrumbs {
    text-align: center;
    padding: 30px 0;
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.breadcrumbs h2 {
    color: #afafaf;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 25px;
    position: relative;
    font-family: Open Sans;
    margin-bottom: 20px;
}

.breadcrumbs span {
    display: inline-block;
    z-index: 1;
    position: relative;
}

.breadcrumbs span a:hover {
    color: #8f8ff5;
}

.breadcrumbs span a {
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    z-index: auto;
}

.breadcrumbs span + span::before {
    color: #b9b9b9;
    content: "/";
    padding: 0 5px;
    font-family: 'FontAwesome';
    content: "\f105";
    font-size: 16px;
}

.breadcrumbs::before {
    opacity: 0.5;
}

.deactive {
    color: gray !important;
}

.overlay::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: ;
    opacity: 0.6;
    background: #000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.breadshades {
    z-index: 1;
}

.member h3 {
    font-size: 16px;
    padding: 0px;
    margin: 8px 0px 0px 0px !important;
}

.section-title h2 {
    font-size: 26px;
    position: relative;
    margin-bottom: 15px;
    color: #fdfdff;
    line-height: 32px;
}

.wrap h2 {
    font-size: 26px;
    position: relative;
    margin-bottom: 15px;
    line-height: 32px;
}

.m-bottom-30 {
    margin-bottom: 30px;
}

.m-top-50 {
    margin-top: 50px;
}

.section-title h2 span {
    position: relative;
    padding: 10px;
    margin-right: 15px;
    color: gray;
    display:
        inline-block;
}

.wrap h2 span {
    position: relative;
    padding: 10px;
    margin-right: 15px;
    color: #8f8ff5;
    display:
        inline-block;
}
.section-title h2 span::before {
    position: absolute;
    right: -4px;
    top: 11px;
    width: 2px;
    height: 55%;
    content: "";
    background: #8f8ff5;
}

.wrap h2 span::before {
    position: absolute;
    right: -4px;
    top: 10px;
    width: 2px;
    height: 62%;
    content: "";
    background: #8f8ff5;
}

.section-title p {
    line-height: 24px;
}

.member p {
    text-align: left;
}
.active a {
    color: #8f8ff5 !important;
    font-weight: 900 !important;
}

/*------Background Info Css-----*/
.ftco-section {
    padding: 5em 0;
    /* position: relative; */
}
.links .footer_social_icon {
    margin: 16px 0 18px;
}
.links .fa {
    background: none repeat scroll 0 0;
    border-radius: 100%;
    color: #8f8ff5;
    font-size: 19px;
    height: 35px;
    padding: 8px;
    text-align: center;
    width: 35px;
}
.links a:hover .fa {
    color: #ffffff;
    background-color: #8f8ff5;
}
.title {
    font-size: 2em;
    color: #635757;
    display: block;
    font-weight: bold;
}
.T-title {
    font-size: 1.2em;
    color: #d8ad11;
    display: block;
    font-family: 'Open Sans';
    text-transform: uppercase;
        font-weight: 600;
}

.sub-title {
    font-size: 0.8em;
    color: gray;
    display: block;
}

.btn1 {
    padding: 10px 20px;
    background: transparent;
    border: 1px solid #8f8ff5;
    color: #8f8ff5;
    border-radius: 3px;
    outline: none;
    transition: 0.5s;
}

.btn1:hover {
    background: #8f8ff5;
    color: #fff;
}

.btn2 {
    padding: 10px 20px;
    border-radius: 3px;
    background: #1e1e1e;
    border: 1px solid #1e1e1e;
    color: #fff;
    outline: none;
    transition: 0.5s;
}

.btn2:hover {
    background: transparent;
    color: #1e1e1e;
}

.title:before {
    content: " ";
    font-family: "FontAwesome";
    font-size: 30px;
}

a {
    text-decoration: none;
}

.section2,
.section3 {
    width: 90%;
    margin: 5% 0%;
    margin-left: auto;
    margin-right: auto;
}

.section2 table,
.section3 table {
    width: 100%;
}

.section2 table td,
.section3 table td {
    width: 50%;
}

.section2 table td img,
.section3 table td img {
    width: 80%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 6px 16px -6px rgba(1, 1, 1, 0.5);
}

.section3 table td img {
    float: right;
}


@media (max-width:720px) {

    .section2 table td,
    .section3 table td {
        width: 100%;
        display: block;
        margin-bottom: 28px;
    }

    .section3 table td img {
        float: none;
        margin-top: 4%;
    }

    .section2 table td img,
    .section3 table td img {
        width: 100%;
        height: 60%;
        margin-bottom: 25px;
    }
}

@media (max-width:300px) {

    .section2,
    .section3 {
        font-size: 12px;
    }

    .section3 table td img {
        float: none;
        margin-top: 8%;
    }

    .btn1,
    .btn2 {
        padding: 5px 10px;
    }
}

.footer {
    position: fixed;
    box-shadow: 0px 6px 16px -6px rgba(1, 1, 1, 0.5);
    background: #1e1e1e;
    padding: 10px 20px;
    color: gray;
    font-size: 13px;
    position: fixed;
    bottom: 10px;
    right: 0;
}

textarea#msg {
    height: 55px !important;
}

.mb-5 {
    margin-bottom: 50px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-1 {
    margin-bottom: 10px;
}

.section3 td {
    padding: 12px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.4);
    height: 150px;
    width: 673px;
    padding: 12px;
}


@media (max-width: 768px) {
    .home .carousel {
        position: relative;
        height: 256px;
        display: inline-block;
    }

    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.4);
        height: 113px;
        width: 521px;
        padding: 12px;
        top: 161px;
    }

    .carousel-caption h1.second_heading {
        font-size: 24px;
        text-align: left;
        margin-bottom: -6px;
    }

    .carousel-caption > p {
        font-size: 15px;
        line-height: 21px;
        text-align: left;
    }
}

@media (max-width: 479px) {
    .home .carousel {
        position: relative;
        height: 216px;
        display: inline-block;
    }

    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.4);
        height: 156px;
        width: 343px;
        padding: 12px;
        top: 40px;
        left: 31px;
    }

    .carousel-caption h1.second_heading {
        font-size: 18px;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    .home .carousel {
        position: relative;
        height: 216px;
        display: inline-block;
    }

    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.7);
        height: 145px;
        width: 319px;
        padding: 12px;
        top: 34px;
        left: 28px;
    }

    .carousel-caption h1.second_heading {
        font-size: 15px;
    }

    .carousel-caption > p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 320px) {
    .home .carousel {
        position: relative;
        height: 216px;
        display: inline-block;
    }

    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.4);
        height: 126px;
        width: 272px;
        padding: 12px;
        top: 45px;
    }

    .carousel-caption h1.second_heading {
        font-size: 14px;
    }

    .carousel-caption > p {
        font-size: 12px;
        line-height: 15px;
    }
}

.about_banner img {
    margin: 90px 0 15px;
}

.service_item {
    margin-bottom: 35px;
}

.service_info {
    padding-top: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 15px !important;
    background-color: #f3f3f3 !important;
}

.service_pic {
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
    background-position: center center;
    background-size: cover;
    text-align: left;
    padding: 15px;
    z-index: 1;
}
.service_pic2 {
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    background-position: center center;
    background-size: cover;
    text-align: left;
    padding: 15px;
    z-index: 1;
}


.pic_content {
    padding-right: 25px !important;
    padding-left: 25px !important;
    top: 12px;
}

.service_pic:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.pic_content h3 {
    /* position: relative; */
    /* bottom: -149px; */
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    line-height: 1.3;
    font-size: 18px;
    font-weight: bold;
    font-family: 'OPEN SANS';
}

.pic_content {
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
    width: auto;
    padding: 12px;
    position: relative;
    /* bottom: -141px; */
    margin: auto;
}

.contact_info h2 {
    color: #484848;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 25px;
    position: relative;
    font-family: Open Sans;
    margin-bottom: 20px;
}

.contact_info p {
    margin: 3px;
}

.contact_info h6 {
    color: #484848;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 15px;
    position: relative;
    font-family: Open Sans;
    margin: 0px;
    /* margin-bottom: 20px; */
}






.section-padding {
    padding: 80px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
}

.section-borders span {
    height: 5px;
    background: #ffdb57;
    width: 40px;
    display: inline-block;
    border-radius: 2px;
}

.section-borders span.black-border {
    background: #333;
    width: 30px;
    margin: 0 6px;

}

.client-testimonial-carousel .owl-dots button {
    height: 5px;
    background: #c29f1f !important;
    width: 20px;
    display: inline-block;
    margin: 5px;
    transition: .2s;
    border-radius: 2px;
}

.client-testimonial-carousel button.owl-dot.active {
    background: #000 !important;
    width: 30px;
}

.client-testimonial-carousel .owl-dots {
    text-align: center;
    margin-top: 25px
}

.single-testimonial-item {
    position: relative;
    box-shadow: 0 0 2px #dadfd3;
    margin: 2px;
    padding: 20px;
    font-style: italic;
    padding-left: 85px;
}

.single-testimonial-item:before {
    font-family: "Font Awesome 5 Free";
    content: '\f10d';
    font-weight: 900;
    position: absolute;
    left: 20px;
    top: 50%;
    font-size: 20px;
    color: #6aaf08;
    line-height: 30px;
    margin-top: -15px;
}

.single-testimonial-item:after {
    background: #ddd;
    content: "";
    height: 70%;
    left: 60px;
    position: absolute;
    top: 10%;
    width: 1px;
}

.single-testimonial-item h3 {
    font-size: 20px;
    font-style: normal;
    margin-bottom: 0;
}

.single-testimonial-item h3 span {
    display: block;
    font-size: 12px;
    font-weight: normal;
    margin-top: 5px;
}

.service_info h3 {

    margin: 10px 0 5px;
    text-transform: capitalize;
    font-size: 18px;
    font-family: 'Poppins Bold', sans-serif;
    font-weight: bold;
}

.member span {
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #a28416;
}

.member h5 {
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #a28416;
    margin-top: 5px;
}

.m-auto {
    margin: auto !important;
}

.contact_info {
    padding: 25px;

}

.email p {
    font-size: 16px;
    font-family: 'Open Sans';
}

.responsive-map-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-map-container iframe,
.responsive-map-container object,
.responsive-map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




/* ---------------------Testimonial Carousel---------------------- */


.testim {
    /* width: 100%; */
    /* position: absolute; */
    top: 100%;
   
    /* transform: translatey(-50%); */
}

.testim .wrap {
    position: relative;
    width: 100%;
    padding: 40px 20px;
    margin: auto;
    background-color: #000000c4;
}

.testim .arrow {
    display: block;
    position: absolute;
    color: #eee;
    cursor: pointer;
    font-size: 2em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 5px;
    z-index: 22222222;
}

.testim .arrow:before {
    cursor: pointer;
}

.testim .arrow:hover {
    color: #8f8ff5;
}


.testim .arrow.left {
    left: 10px;
}

.testim .arrow.right {
    right: 10px;
}

.testim .dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 60px;
    left: 0;
    display: block;
    z-index: 3333;
    height: 12px;
}

.testim .dots .dot {
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #eee;
    margin: 0 10px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
    background: #8f8ff5;
    border-color: #8f8ff5;
}

.testim .dots .dot.active {
    -webkit-animation: testim-scale .5s ease-in-out forwards;
    -moz-animation: testim-scale .5s ease-in-out forwards;
    -ms-animation: testim-scale .5s ease-in-out forwards;
    -o-animation: testim-scale .5s ease-in-out forwards;
    animation: testim-scale .5s ease-in-out forwards;
}

.testim .cont {
    position: relative;
    overflow: hidden;
}

.testim .cont > div {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 70px 0;
    opacity: 0;
}

.testim .cont > div.inactive {
    opacity: 1;
}


.testim .cont > div.active {
    position: relative;
    opacity: 1;
}


.testim .cont div .img img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

.testim .cont div h2 {
    color: #8f8ff5;
    font-size: 1.5em;
    margin: 15px 0;
}

.testim .cont div p {
    font-size: 1.15em;
    color: #eee;
    width: 56%;
    margin: auto;
}

.testim .cont div.active .img img {
    -webkit-animation: testim-show .5s ease-in-out forwards;
    -moz-animation: testim-show .5s ease-in-out forwards;
    -ms-animation: testim-show .5s ease-in-out forwards;
    -o-animation: testim-show .5s ease-in-out forwards;
    animation: testim-show .5s ease-in-out forwards;
}

.testim .cont div.active h2 {
    -webkit-animation: testim-content-in .4s ease-in-out forwards;
    -moz-animation: testim-content-in .4s ease-in-out forwards;
    -ms-animation: testim-content-in .4s ease-in-out forwards;
    -o-animation: testim-content-in .4s ease-in-out forwards;
    animation: testim-content-in .4s ease-in-out forwards;
}

.testim .cont div.active p {
    -webkit-animation: testim-content-in .5s ease-in-out forwards;
    -moz-animation: testim-content-in .5s ease-in-out forwards;
    -ms-animation: testim-content-in .5s ease-in-out forwards;
    -o-animation: testim-content-in .5s ease-in-out forwards;
    animation: testim-content-in .5s ease-in-out forwards;
}

.testim .cont div.inactive .img img {
    -webkit-animation: testim-hide .5s ease-in-out forwards;
    -moz-animation: testim-hide .5s ease-in-out forwards;
    -ms-animation: testim-hide .5s ease-in-out forwards;
    -o-animation: testim-hide .5s ease-in-out forwards;
    animation: testim-hide .5s ease-in-out forwards;
}

.testim .cont div.inactive h2 {
    -webkit-animation: testim-content-out .4s ease-in-out forwards;
    -moz-animation: testim-content-out .4s ease-in-out forwards;
    -ms-animation: testim-content-out .4s ease-in-out forwards;
    -o-animation: testim-content-out .4s ease-in-out forwards;
    animation: testim-content-out .4s ease-in-out forwards;
}

.testim .cont div.inactive p {
    -webkit-animation: testim-content-out .5s ease-in-out forwards;
    -moz-animation: testim-content-out .5s ease-in-out forwards;
    -ms-animation: testim-content-out .5s ease-in-out forwards;
    -o-animation: testim-content-out .5s ease-in-out forwards;
    animation: testim-content-out .5s ease-in-out forwards;
}

@-webkit-keyframes testim-scale {
    0% {
        -webkit-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -webkit-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -webkit-box-shadow: 0px 0px 10px 5px #ea830e;
        box-shadow: 0px 0px 10px 5px #ea830e;
    }

    100% {
        -webkit-box-shadow: 0px 0px 0px 0px #ea830e;
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@-moz-keyframes testim-scale {
    0% {
        -moz-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -moz-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -moz-box-shadow: 0px 0px 10px 5px #ea830e;
        box-shadow: 0px 0px 10px 5px #ea830e;
    }

    100% {
        -moz-box-shadow: 0px 0px 0px 0px #ea830e;
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@-ms-keyframes testim-scale {
    0% {
        -ms-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -ms-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -ms-box-shadow: 0px 0px 10px 5px #ea830e;
        box-shadow: 0px 0px 10px 5px #ea830e;
    }

    100% {
        -ms-box-shadow: 0px 0px 0px 0px #ea830e;
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@-o-keyframes testim-scale {
    0% {
        -o-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -o-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -o-box-shadow: 0px 0px 10px 5px #ea830e;
        box-shadow: 0px 0px 10px 5px #ea830e;
    }

    100% {
        -o-box-shadow: 0px 0px 0px 0px #ea830e;
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@keyframes testim-scale {
    0% {
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        box-shadow: 0px 0px 10px 5px #ea830e;
    }

    100% {
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@-webkit-keyframes testim-content-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-moz-keyframes testim-content-in {
    from {
        opacity: 0;
        -moz-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}

@-ms-keyframes testim-content-in {
    from {
        opacity: 0;
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@-o-keyframes testim-content-in {
    from {
        opacity: 0;
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes testim-content-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-moz-keyframes testim-content-out {
    from {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -moz-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-ms-keyframes testim-content-out {
    from {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-o-keyframes testim-content-out {
    from {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@-webkit-keyframes testim-show {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes testim-show {
    from {
        opacity: 0 -moz-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-ms-keyframes testim-show {
    from {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@-o-keyframes testim-show {
    from {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes testim-hide {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-moz-keyframes testim-hide {
    from {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
}

@-ms-keyframes testim-hide {
    from {
        opacity: 1;
        -ms-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
}

@-o-keyframes testim-hide {
    from {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes testim-hide {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}

@media all and (max-width: 300px) {
    body {
        font-size: 14px;
    }
}

@media all and (max-width: 500px) {
    .testim .arrow {
        font-size: 1.5em;
    }

    .testim .cont div p {
        line-height: 25px;
    }

}

/***----------Testimonial Carousel--------***/

/***----------Projects Carousel--------***/
@-webkit-keyframes L_circle_rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes L_circle_rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes L_stroke_rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }

    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }

    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }

    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg)
    }

    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg)
    }

    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg)
    }

    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg)
    }

    100% {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg)
    }
}

@keyframes L_stroke_rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }

    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }

    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }

    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg)
    }

    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg)
    }

    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg)
    }

    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg)
    }

    100% {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg)
    }
}

@-webkit-keyframes L_stroke_left_grow {

    0%,
    100% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }

    50% {
        -webkit-transform: rotate(-140deg);
        transform: rotate(-140deg)
    }
}

@keyframes L_stroke_left_grow {

    0%,
    100% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }

    50% {
        -webkit-transform: rotate(-140deg);
        transform: rotate(-140deg)
    }
}

@-webkit-keyframes L_stroke_right_grow {

    0%,
    100% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }

    50% {
        -webkit-transform: rotate(140deg);
        transform: rotate(140deg)
    }
}

@keyframes L_stroke_right_grow {

    0%,
    100% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }

    50% {
        -webkit-transform: rotate(140deg);
        transform: rotate(140deg)
    }
}

.loader-circle {
    top: 50%;
    left: 50%;
    z-index: 1;
    color: #444;
    margin-top: -1em;
    margin-left: -1em;
    position: absolute;
    -webkit-animation: L_circle_rotate 1.568s linear infinite both;
    animation: L_circle_rotate 1.568s linear infinite both
}

.loader-circle .loader-stroke-left:before,
.loader-circle .loader-stroke-right:before,
.loader-circle:before {
    content: '';
    display: block;
    border-style: solid;
    border-width: .21429em;
    border-color: currentColor
}

.loader-circle,
.loader-circle .loader-stroke-left,
.loader-circle .loader-stroke-left:before,
.loader-circle .loader-stroke-right,
.loader-circle .loader-stroke-right:before,
.loader-circle:before {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    box-sizing: border-box
}

.loader-circle .loader-stroke-left:before,
.loader-circle .loader-stroke-right {
    position: absolute;
    clip: rect(0 2em 2em 1em)
}

.loader-circle .loader-stroke-left,
.loader-circle .loader-stroke-right:before {
    position: absolute;
    clip: rect(0 1em 2em 0)
}

.loader-circle:before {
    position: absolute;
    clip: rect(0 1.05em 1em .95em)
}

.loader-circle .loader-stroke-left,
.loader-circle .loader-stroke-right,
.loader-circle:before {
    -webkit-animation: L_stroke_rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both;
    animation: L_stroke_rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both
}

.loader-circle .loader-stroke-right:before {
    -webkit-animation: L_stroke_right_grow 1333ms cubic-bezier(.4, 0, .2, 1) infinite both;
    animation: L_stroke_right_grow 1333ms cubic-bezier(.4, 0, .2, 1) infinite both
}

.loader-circle .loader-stroke-left:before {
    -webkit-animation: L_stroke_left_grow 1333ms cubic-bezier(.4, 0, .2, 1) infinite both;
    animation: L_stroke_left_grow 1333ms cubic-bezier(.4, 0, .2, 1) infinite both
}

.mhn-slide .mhn-item {
    width: 100%;
    padding: 10px
}

.mhn-slide .mhn-inner {
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .16), 0 2px 5px 0 rgba(0, 0, 0, .26);
    border-radius: 3px
}

.mhn-slide .mhn-item img {
    display: none
}

.mhn-slide .mhn-img {
    min-height: 200px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    color: white;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=) #eee no-repeat center/cover;
    position: relative
}

.mhn-slide .mhn-text {
    text-align: left;
    padding: 0 10px
}

.mhn-slide .mhn-text h4 {
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.mhn-slide .mhn-text p {
    max-height: 4.5em;
    overflow: hidden
}

.mhn-slide .owl-stage-outer {
    z-index: 1
}

.mhn-slide .owl-nav {
    color: #333;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.mhn-slide .owl-nav svg {
    color: currentColor
}

.mhn-slide .owl-nav .disabled {
    display: none
}

.mhn-slide .owl-prev,
.mhn-slide .owl-next {
    top: 110px;
    z-index: 2;
    width: 40px;
    height: 40px;
    padding: 8px;
    margin-top: -20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3), 0 0 4px rgba(0, 0, 0, .2)
}

.mhn-slide .owl-prev {
    left: -10px
}

.mhn-slide .owl-next {
    right: -10px
}

/***----------Projects Carousel--------***/



/***----------Gallery css--------***/

.switcher {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    width: fit-content;
    padding: 14px 20px;
}

.switcher li {
    border-radius: 4px;
    padding: 10px 20px;
    background-color: #ccc;
    cursor: pointer;
    transition: 0.2s linear;
    font-size: 20px;
    user-select: none;
    margin: 5px;
}

.switcher li.active {
    background-color: #f05;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 10px;
}

.gallery div {
    max-height: 300px;
}


@media (max-width: 991px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

.gallery div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/***----------End Gallery css--------***/


/***-----Floating Whatsapp Button css--------***/
.float {
    position: fixed;
    width: 45px;
    height: 44px;
    bottom: 20px;
    right: 76px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 2px 1px #403f3f3b;
    z-index: 100;
}

.my-float {
    margin-top: 6px;
}

/***----------Floating Whatsapp Button css--------***/


/***---finished Projecs css---***/
.final-projects h3 {
    color: #94770f;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-transform: none;
}
.grim-bg{
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 6%), 0 6.7px 5.3px rgb(0 0 0 / 0%), 0 12.5px 10px rgb(0 0 0 / 3%), 0 22.3px 17.9px rgb(0 0 0 / 0%), 0 41.8px 33.4px rgb(0 0 0 / 0%), 0 100px 80px rgb(0 0 0 / 1%);
    padding: 20px;
    margin: 1px 0px;
}
.gallery-img {
    overflow: hidden;
}
.gallery-img:hover img {

    -webkit-transform: scale(1.09);
    -ms-transform: scale(1.09);
    transform: scale(1.09);
    transition: all 0.4s linear;

}

/***---finished Projecs css---***/
.project-info{
    padding-top: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 15px !important;
    background-color: #222533 !important;
}
.project-info h3{
    font-size: 16px;
    margin: 0px 0 5px;
    color: white;
    text-transform: none;
    line-height: 1.3;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: unset;
}
/***---finished Projecs css---***/
